*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --background: #21C727;
  --primary: #ffffff;
  --accent: #E8DEDE;
  --text-primary: #797575;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
}

.dashboard {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
/* ===== Logo ===== */
.logo img {
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.sidebar {
  background-color: var(--background);
  color: var(--text-primary);
  width: 230px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s ease;
  box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}

.sidebar .profile {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar .profile i {
  font-size: 70px;
  color: var(--background);
}

.sidebar .username {
  display: block;
  font-weight: 600;
  color: var(--primary);
  margin-top: 10px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 500;
  border-left: 5px solid transparent;
  transition: all 0.3s linear, border-color 0.3s linear;
}

.nav-links a:hover,
.nav-links a.active {
  background-color: hsla(122, 71%, 38%, 0.856);
  border-left-color: var(--text-primary);
  font-weight: 600;
  width: 100%;
}

.nav-links i {
  font-size: 18px;
}

.user-account{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}
.user-account svg{
    color: var(--primary)
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  /* background-color: var(--primary); */
  background-color: #f8eaea;
  padding: 40px;
}

header h1 {
  color: #000;
  font-size: 1.8rem;
  margin-bottom: 5px;
}

header p {
  color: var(--text-primary);
  margin-bottom: 30px;
}

/* STATS CARDS */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background-color: var(--primary);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
  color: #000;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 2rem;
  font-weight: 700;
  color: var(--background);
}

/* RESPONSIVE SIDEBAR */
@media (max-width: 900px) {
  .sidebar {
    width: 80px;
    align-items: center;
  }

  .sidebar .username {
    display: none;
  }

  .nav-links a span {
    display: none;
  }

  .nav-links a {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 20px;
  }
  .logo img{
    width: 50px;
  }
}
